@tailwind base;
@tailwind components;
@tailwind utilities;


.styled-input {
    padding: 6px 10px; /* Espacio interior */
    font-size: 16px; /* Tamaño de fuente */
    border: 2px solid #ddd; /* Borde inicial */
    border-radius:10px; /* Bordes redondeados */
    outline: none; /* Sin contorno al enfocar */
    transition: all 0.3s ease; /* Transición suave en hover y focus */
    background-color: white; /* Fondo del input */
    color: #333; /* Color del texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }

  /* Cambio de estilo al enfocar el input */
.styled-input:focus {
    border-color: #4CAF50; /* Color del borde al enfocar */
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* Sombra más fuerte */
  }
  
  /* Estilo al hacer hover en el input */
  .styled-input:hover {
    border-color: #888; /* Color del borde al hacer hover */
  }